<div id="show-sidebar">
  <i class="fa fa-list ml-1" aria-hidden="true"></i>
</div>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <%= link_to "Payment Gateway", admins_root_path %>
      <div id="close-sidebar">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="sidebar-header">
      <div class="user-pic">
        <img class="img-responsive img-rounded" style="width: 100px; height: 50px;" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
             alt="User picture">
      </div>
      <div class="user-info">
        <span class="user-name"><%= current_user.name %></span>
        <span class="user-role">Vai trò: <%= current_user.role %></span>
        <span class="user-role">Địa chỉ: <%= current_user.address %></span>
        <span class="user-role">ĐT: <%= current_user.phone %></span>
        <span class="user-role">Email: <%= current_user.email %></span>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li class="header-menu">
          <span>General</span>
        </li>
        <li class="sidebar-dropdown">
          <a href="">
            <i class="fa fa-tachometer-alt"></i>
            <span>TRANG CHỦ</span>
          </a>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span>QUẢN LÝ SÁCH</span>
          </a>
        </li>
        <li class="sidebar-dropdown">
          <%= link_to admins_categories_path do %>
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span>CÁC DANH MỤC</span>
          <% end %>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="fa fa-chart-line"></i>
            <span>BIỂU ĐỒ</span>
          </a>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="fa fa-globe"></i>
            <span>GIAO DỊCH</span>
          </a>
        </li>
        <li class="header-menu">
          <span>Extra</span>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>NGƯỜI DÙNG</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-shopping-cart"></i>
            <span>GIỎ HÀNG</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-list-ol" aria-hidden="true"></i>
            <span>XẾP HẠNG</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
