<%= render "share/header" %>
<div id="wrapper" class="container">
  <section class="homepage-slider" id="home-slider">
    <div id="ban_carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#ban_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#ban_carousel" data-slide-to="1"></li>
        <li data-target="#ban_carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("ban1.jpg", alt: "", class: "site_logo") %>
        </div>

        <div class="item">
          <%= image_tag("ban2.jpg", alt: "", class: "site_logo") %>
        </div>

        <div class="item">
          <%= image_tag("ban3.jpg", alt: "", class: "site_logo") %>
        </div>
      </div>

      <a class="left carousel-control d-flex align-items-center" href="#ban_carousel" data-slide="prev">
        <span class="fa fa-chevron-left ml-5"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control d-flex justify-content-end align-items-center" href="#ban_carousel" data-slide="next">
        <span class="fa fa-chevron-right mr-5"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <section class="main-content mt-5">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h4 class="title">
              <span>Sách Mới</span>
              <span class="float-right">
                <a class="left button" href="#book_carousel" data-slide="prev">
                  <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right button" href="#book_carousel" data-slide="next">
                  <span class="fa fa-chevron-right"></span>
                </a>
              </span>
            </h4>
            <div id="book_carousel" class="book_carousel carousel slide">
              <div class="carousel-inner">
                <% @product_group_four.each_with_index do |products, index| %>
                  <div class="<%= index == 0 ? 'active' : '' %> item">
                    <div class="d-flex justify-content-between">
                      <% products.each do |product| %>
                        <div class="product-box">
                          <p>
                            <%= link_to product_path(product) do %>
                              <%= image_tag(product.image.url, size: "200x250") %>
                            <% end %>
                          </p>
                          <%= link_to product.name, product_path(product), class: "title" %><br/>
                          <a href="" class="category"><%= product.find_name_category %></a>
                          <p class="price"><%= number_to_currency(product.price.to_i, precision: 0, unit: "") %>₫</p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h4 class="title">
              <span>Sách Bán Chạy</span>
              <span class="float-right">
                <a class="left button" href="#book1_carousel" data-slide="prev">
                  <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right button" href="#book1_carousel" data-slide="next">
                  <span class="fa fa-chevron-right"></span>
                </a>
              </span>
            </h4>
            <div id="book1_carousel" class="book_carousel carousel slide">
              <div class="carousel-inner">
                <% @product_group_four_sf.each_with_index do |products, index| %>
                  <div class="<%= index == 0 ? 'active' : '' %> item">
                    <div class="d-flex justify-content-between">
                      <% products.each do |product| %>
                        <div class="product-box">
                          <p>
                            <%= link_to product_path(product) do %>
                              <%= image_tag(product.image.url, size: "200x250") %>
                            <% end %>
                          </p>
                          <%= link_to product.name, product_path(product), class: "title" %><br/>
                          <a href="" class="category"><%= product.find_name_category %></a>
                          <p class="price"><%= number_to_currency(product.price.to_i, precision: 0, unit: "") %>₫</p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </section>
  <%= render "share/footer" %>
</div>
