<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div id="top-bar" class="container">
  <div class="row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="Tìm kiếm sách theo tên">
    </div>
    <div class="col-5">
      <div class="account float-right">
        <ul class="user-menu">
          <li><a href="#">Tất cả danh mục</a></li>
          <li><a href="#">Tài khoản của tôi</a></li>
          <li><a href="">Giỏ hàng <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="wrapper" class="container">
  <section class="navbar main-menu">
    <div class="navbar-inner main-menu w-100 d-flex justify-content-between">
      <a href="" class="logo "><%= image_tag("logo.png", alt: "", class: "site_logo") %></a>
      <nav id="menu">
        <ul>
          <style>
            .dropdown:hover > .dropdown-menu {
              display: block;
            }
          </style>
          <li class="dropdown">
            <a href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Văn
              học nước ngoài</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Tiểu sử - hồi ký</a>
              <a class="dropdown-item" href="#">Trinh thám - kinh dị</a>
              <a class="dropdown-item" href="#">Huyền bí - giả tưởng</a>
            </div>
          </li>
          <li><a href="">Văn học trong nước</a></li>
          <li><a href="">Sách kĩ năng sống</a></li>
          <li><a href="">Sách chuyên ngành</a></li>
          <li><a href="">Vừa học - vừa chơi</a></li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="homepage-slider" id="home-slider">
    <div id="ban_carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#ban_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#ban_carousel" data-slide-to="1"></li>
        <li data-target="#ban_carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("ban1.jpg", alt: "", class: "site_logo") %>
        </div>

        <div class="item">
          <%= image_tag("ban2.jpg", alt: "", class: "site_logo") %>
        </div>

        <div class="item">
          <%= image_tag("ban3.jpg", alt: "", class: "site_logo") %>
        </div>
      </div>

      <a class="left carousel-control d-flex align-items-center" href="#ban_carousel" data-slide="prev">
        <span class="fa fa-chevron-left ml-5"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control d-flex justify-content-end align-items-center" href="#ban_carousel" data-slide="next">
        <span class="fa fa-chevron-right mr-5"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <section class="main-content mt-5">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h4 class="title">
              <span>Sách Mới</span>
              <span class="float-right">
                <a class="left button" href="#book_carousel" data-slide="prev">
                  <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right button" href="#book_carousel" data-slide="next">
                  <span class="fa fa-chevron-right"></span>
                </a>
              </span>
            </h4>
            <div id="book_carousel" class="book_carousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <div class="d-flex justify-content-between">
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book1.jpeg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book1.jpeg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book1.jpeg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book1.jpeg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">You think fast</a><br/>
                      <a href="" class="category">World once</a>
                      <p class="price">$31.45</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="d-flex justify-content-between">
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">You think fast</a><br/>
                      <a href="" class="category">World once</a>
                      <p class="price">$31.45</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h4 class="title">
              <span>Sách Bán Chạy</span>
              <span class="float-right">
                <a class="left button" href="#book1_carousel" data-slide="prev">
                  <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right button" href="#book1_carousel" data-slide="next">
                  <span class="fa fa-chevron-right"></span>
                </a>
              </span>
            </h4>
            <div id="book1_carousel" class="book_carousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <div class="d-flex justify-content-between">
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book3.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book3.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book3.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book3.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">You think fast</a><br/>
                      <a href="" class="category">World once</a>
                      <p class="price">$31.45</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="d-flex justify-content-between">
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">Know exactly turned</a><br/>
                      <a href="" class="category">Quis nostrud</a>
                      <p class="price">$14.20</p>
                    </div>
                    <div class="product-box">
                      <p><a href=""><%= image_tag("book2.jpg", alt: "", class: "site_logo", size: "250x250") %></a></p>
                      <a href="" class="title">You think fast</a><br/>
                      <a href="" class="category">World once</a>
                      <p class="price">$31.45</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </section>
  <section id="footer-bar">
    <div class="row">
      <div class="col-4">
        <h4>Hỗ trợ khách hàng</h4>
        <ul class="list-unstyled">
          <li>Email: admin@gmail.vn</li>
          <li>Hotline: 098 765 4321</li>
        </ul>
      </div>
      <div class="col-4">
        <h4>Giới Thiệu</h4>
        <ul class="list-unstyled">
          <li>Về chúng tôi</li>
          <li>Tuyển dụng</li>
        </ul>
      </div>
      <div class="col-4">
        <h4>Hướng Dẫn</h4>
        <ul class="list-unstyled">
          <li>Hướng dẫn mua hàng</li>
          <li>Phương thức thanh toán</li>
          <li>Câu hỏi thường gặp</li>
          <li>Phương thức vận chuyển</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="copyright">
    <span>Copyright ... All right reserved.</span>
  </section>
</div>
</body>
