<title>SE04Nhom41</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
<%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

<!--<link rel="stylesheet" href="../Fonts/linearicons/style.css">-->
<!--<link rel="stylesheet" href="app/assets/stylesheets/login.scss">-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=Ad4iwua_4yHnu-JsZO7TQT0JvuUi4SSZMyIklGPiZirAtzhgHgO7fQhhqS8eMiy06D7irb2oYr_P0oS9&currency=USD"></script>

<body>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<%= yield %>
</body>
